/* Message.module.css */

.message {
  margin-bottom: 45px; /* Внешний отступ снизу – 45px. Создаёт пространство между сообщениями. */
}

.imageAndText {
  display: flex; /* Включает flexbox для расположения дочерних элементов в строку. */
  flex-direction: row-reverse; /* Переставляет порядок элементов, делая их отображаемыми справа налево. */
  align-items: end; /* Выравнивает элементы по нижней линии (baseline) по вертикали. */
  gap: 12px; /* Пространство между элементами (изображением и текстом) – 12px. */
  padding-right: 50px;
}

.imageAndText img {
  width: 48px; /* Ширина изображения – 48px. */
  height: 48px; /* Высота изображения – 48px. Соотношение сторон сохраняется квадратным. */
}

.text {
  position: relative; /* Нужно для позиционирования стрелки относительно текста */

  color: #ffffff; /* Цвет текста – белый. */
  padding: 8px 14px; /* Внутренние отступы: сверху и снизу – 8px, по бокам – 14px. */
  font-size: 16px; /* Размер шрифта – 16px. */
  max-width: 470px; /* Максимальная ширина текстового блока – 520px, текст будет переноситься при достижении этого предела. */
  border-radius: 15px; /* Скругляет все углы блока на 10px. */
  background: #0066cc; /* Задаёт цвет фона блока – тёмно-синий. */
  text-align: right; /* Выравнивание текста по правому краю. */
}

.text:after {
  content: '';
  position: absolute;
  right: -8px; /* Смещает треугольник влево */
  bottom: -7px; /* Позиционирует треугольник внизу */
  height: 0px; /* Увеличенная длина стрелки */
  border-left: 15px solid #0066cc; /* Линия, представляющая сторону Y */
  border-bottom: 15px solid transparent; /* Линия X — прозрачная */
  border-top: 15px solid transparent; /* Верхняя граница — прозрачная */
  transform: rotate(-90deg);
}

.name {
  font-size: 18px;

  font-weight: 600; /* Полужирное начертание текста для имени отправителя. */
  margin-bottom: 4px; /* Внешний отступ снизу – 4px, создаёт пространство между именем и текстом сообщения. */
}

.messageText {
  font-weight: 400; /* Нормальная (обычная) толщина шрифта для текста сообщения. */
}

.time {
  font-size: 15px;
  font-weight: 600; /* Полужирное начертание времени. */
  text-align: right; /* Выравнивает время по правому краю блока. */
  padding-right: 52px;
}
