/* App.module.css */

.App {
  width: 100%;
  /* max-width: 1280px; */
  /* Максимальная ширина контейнера – 1280px. Контент внутри не будет растягиваться шире этого значения. */
  margin: 0 auto 125px; /* Устанавливает внешний отступ: сверху – 0, снизу – 125px, а по бокам – автоматически, что центрирует блок на странице. */
  padding: 10px; /* Внутренний отступ блока – 10px со всех сторон, добавляя пространство внутри контейнера. */
  min-width: 360px;
}

.hw {
}

.hwTitle {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;

  padding: 110px 10px 10px; /* Внутренние отступы: сверху – 110px (создаёт значительное пространство), по бокам – 10px, снизу – 10px. */
  border-bottom: 2px solid #000; /* Нижняя граница элемента толщиной 1px . Это разделяет элемент с нижерасположенными элементами. */
  margin-bottom: 40px;
  padding-left: 50px;
}
