.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
    margin: 10px 0 22px;
}

.error {
    color: red;
    font-size: 12px;
    margin: 5px 0 10px;
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    padding: 0 10px;
}

.input:focus {
}

.errorInput {
    border: 1px solid red;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    padding: 0 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    background: #06c;
    font: 600 14px / 1.42857 "Montserrat", sans-serif;
    color: #fff;
    border: none
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
