.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wrapper {
  display: flex;
  /* align-items: center; */
  gap: 30px;
}

.number {
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* #hw11-value-2 {
  margin-left: 10px;
} */

/* // */
